
@font-face {
  font-family: 'ClassicConsole';
  src: url('ClassicConsole.eot?#iefix') format('embedded-opentype'),  url('ClassicConsole.woff') format('woff'), url('ClassicConsole.ttf')  format('truetype'), url('ClassicConsole.svg#ClassicConsole') format('svg');
  font-weight: normal;
  font-style: normal;
}
